#logo {
	margin-top: 30px;
	width: 125px;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;

}

#projets {
	display: flex;
	flex-wrap: wrap;

}

.projet img {
	min-width: 400px;
	height: 266px;
}

.date-project {
	font-size: 0.7em;
}
.projet span {
	text-transform: uppercase;
	display: block;
}

.picture {
	width: 400px;
	height: 266px;
	overflow: hidden;
	margin-bottom: 15px;
}

.projet {
	width: 400px;
	margin: 30px;
	display: inline-block;
	background-color: white;
	padding-bottom: 15px;
	border: 0px black solid;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.projet:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.3s;
}
header {
	text-align:center;
	background: #1D1D1D;
	color:white;
	margin-top: 0;
	padding-top: 30px;
}

section {
	text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  opacity: 0.7;
}

li:hover {
	font-weight: bold;
}
h3:before {
	content: "« ";
	color:grey;
}
h3:after {
	content: " »";
	color: grey;
}



h2 {
  font-family: "Open Sans", sans-serif;
  margin:auto;
}

h3 {
	font-size: 1.5em;
	text-transform: uppercase;
}

ul {
	padding : 0%;
	display: inline;
}

li {
	list-style-type: none;
	display:inline;
	margin: 10px;
}
nav {
	text-align: center;
	background: white;
	box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
	padding:15px;

}

a {
	text-decoration: none;
	color: black;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f4f7f6 ;
  margin:0%;
}

footer {
	background: #1D1D1D;
	text-align: center;
	padding:15px;
	color:white;
}

#contact {
	border: 1px black solid; 
	border-radius: 15px;
	padding:30px;
	margin-bottom: 50px;
}

.separator {

	width: 40px;
	height: 1px;
	margin:15px auto;
	display:block;
	background: #999999;
}

.contener{
	width: 80%;
	margin:auto;
}
