language = "kaboom"
run = "node run.js"
entrypoint = "code/main.js"

hidden = [
	".config",
	"learn",
	"dist",
	"helper.ts",
	"run.js",
	"package.json",
	"package-lock.json",
]

[packager]
language="nodejs"

[packager.features]
packageSearch = true

[languages.javascript]
pattern = "**/*.{js,ts}"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[languages.html]
pattern = "**/*.html"

[languages.html.languageServer]
start = "vscode-html-language-server --stdio"

[languages.html.languageServer.initializationOptions]
provideFormatter = true

[languages.css]
pattern = "**/{*.less,*.scss,*.css}"

[languages.css.languageServer]
start = "vscode-css-language-server --stdio"
